<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redimybase.manager.security.mapper.DeviceMapper">


  <select id="getDeviceList" resultType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
    <![CDATA[
      select
        t1.id,t1.code,t1.name,t1.type,t2.name as typeName,t1.model,t1.unit,t1.remark,
        t1.creator_id as reviserId,t3.user_name as creator,t4.user_name as reviser,t1.reviser_id,t1.create_time,t1.update_time
      from
        t_device t1
        left join t_device_type t2 on t1.type = t2.id
				left join t_user t3 on t1.creator_id = t3.id
				left join t_user t4 on t1.reviser_id = t4.id
      where
        1 = 1
        and t1.status <> 0
    ]]>
    <if test="(name != null) and (name != '')">
      <![CDATA[
          and t1.name like CONCAT(CONCAT('%', #{name,jdbcType=VARCHAR}),'%')
      ]]>
    </if>

    <if test="(type != null) and (type != '')">
      <![CDATA[
          and t2.id = #{type,jdbcType=VARCHAR}
      ]]>
    </if>

    <if test="(typeName != null) and (typeName != '')">
      <![CDATA[
          and t2.name like CONCAT(CONCAT('%', #{typeName,jdbcType=VARCHAR}),'%')
      ]]>
    </if>

    <if test="(model != null) and (model != '')">
      <![CDATA[
          and t1.model like CONCAT(CONCAT('%', #{model,jdbcType=VARCHAR}),'%')
      ]]>
    </if>

    <if test="(unit != null) and (unit != '')">
      <![CDATA[
          and t1.unit like CONCAT(CONCAT('%', #{unit,jdbcType=VARCHAR}),'%')
      ]]>
    </if>

    <if test="(remark != null) and (remark != '')">
      <![CDATA[
          and t1.remark like CONCAT(CONCAT('%', #{remark,jdbcType=VARCHAR}),'%')
      ]]>
    </if>
  </select>



</mapper>
